body {
  font-family: 'Montserrat', sans-serif;
}

.btn_green {
  background-color: #1ABC9C;
  ;
  color: white;
  text-transform: uppercase;
}

.btn_green .glyphicon {
  vertical-align: text-top;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.wrapper_60 {
  width: 60%;
  margin: 0 auto;
}

.padding_top_80 {
  padding-top: 80px;
}

.padding_bottom_80 {
  padding-bottom: 80px;
}

.bg_green {
  background-color: #1ABC9C;
}

.title_big {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}

.p_white {
  color: white;
  font-size: 20px;
}

.color_dark {
  color: #2C3E50;
}

/* style header */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  line-height: 80px;
  z-index: 3;
  background-color: #2C3E50;
  font-size: 24px;
  font-weight: 700;
}

.header_top a {
  color: white;
}

.header_top a:hover,
.header_top a:focus,
.header_top a:active {
  color: white;
  text-decoration: none;
}

._menu li {
  display: inline-block;
}

.header_top nav ul li a {
  font-size: 0.6em;
  padding: 10px;
}

.header_top nav ul li a:hover {
  color: #1ABC9C;
}

/* stile jumbo */
.jumbo {
  padding: 80px 0;
  margin-top: 80px;
}

.jumbo_content {
  width: 60%;
  margin: 0 auto;
}

.jumbo_content h1.title_big {
  color: white;
  font-size: 50px;
}

.jumbo_content img.main_icon {
  width: 220px;
}
/* separatore */
.title_separator {
  width: 100%;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  margin: 10px 0;
}

.separator_line {
  display: inline-block;
  height: 3px;
  width: 200px;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 5px;
  margin: 0 5px;
}


/* sezione portfolio */
#portfolio .separator_line {
  background-color: #2C3E50;
}

.box_portfolio {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
}

.box_portfolio img {
  width: 100%;
}

.portfolio_overlay {
  width: 100%;
  height: calc(100% - 30px);
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio_overlay:hover {
  background-color: #1ABC9C;
}

.box_portfolio .portfolio_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  display: none;
}

.box_portfolio:hover .portfolio_icon {
  display: block;
}

.align_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_uppercase {
  text-transform: uppercase;
}

#about {
  background-color: #1ABC9C;
  position: relative;
  height: 400px;
}

.container_small {
  width: 60%;
  margin: 0 auto;
  background-color: orange;
}

#about a.btn.btn_download {
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 20px;
}
