body {
  font-family: 'Montserrat', sans-serif;
}

.btn_green {
  background-color: #1ABC9C;
  ;
  color: white;
  text-transform: uppercase;
}

.btn_green .glyphicon {
  vertical-align: text-top;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.wrapper_60 {
  width: 60%;
  margin: 0 auto;
}

.padding_top_80 {
  padding-top: 80px;
}

.padding_bottom_80 {
  padding-bottom: 80px;
}

.bg_green {
  background-color: #1ABC9C;
}

.title_big {
  font-weight: 700;
  text-transform: uppercase;
}

.p_white {
  color: white;
  font-size: 20px;
}

/* style header */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  line-height: 80px;
  z-index: 3;
  background-color: #2C3E50;
  font-size: 24px;
  font-weight: 700;
}

.header_top a {
  color: white;
}

.header_top a:hover,
.header_top a:focus,
.header_top a:active {
  color: white;
  text-decoration: none;
}

._menu li {
  display: inline-block;
}

.header_top nav ul li a {
  font-size: 0.6em;
  padding: 10px;
}

.header_top nav ul li a:hover {
  color: #1ABC9C;
}

/* stile jumbo */
.jumbo {
  padding: 80px 0;
  margin-top: 80px;
}

.jumbo_content {
  width: 60%;
  margin: 0 auto;
}

.jumbo_content h1.title_big {
  color: white;
  font-size: 50px;
}

.jumbo_content img.main_icon {
  width: 220px;
}

.title_separator {
  width: 40%;
  margin: 25px auto;
  position: relative;
}

.title_separator::after {
  content: "";
  display: table;
  clear: both;
}

.separator_line_left {
  float: left;
  width: 40%;
  height: 1.5px;
  margin-right: 5%;
  background-color: white;
  transform: translateY(10px);
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.separator_line_right {
  float: left;
  width: 40%;
  height: 1.5px;
  margin-left: 5%;
  background-color: white;
  transform: translateY(10px);
}

.jumbo_content .separator_icon {
  width: 10%;
  float: left;
}

.jumbo_content .separator_icon i.icon_white {
  color: white;
  font-size: 30px;
}

/* fine jumbo */
.align_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_uppercase {
  text-transform: uppercase;
}

/* .jumbo {
  background-color: red;
  height: 90vh;
  position: relative;
} */
/* .jumbo_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
#portfolio {
  background-color: purple;
}

.padding_tb_40 {
  padding: 40px 0;
}

.text_center {
  text-align: center;
}

._card {
  background-color: white;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 30px;
}

#about {
  background-color: #1ABC9C;
  position: relative;
  height: 400px;
}

.container_small {
  width: 60%;
  margin: 0 auto;
  background-color: orange;
  /* height: 300px; */
}

#about a.btn.btn_download {
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 20px;
}
